.container{
    width: 100%;
    position: relative;
}
.container .wrap{
    width: 100%;
    position: relative;
    margin: auto;
    font-size: 100px;
}
.container .wrap img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top:0;
    transition: 0.6s;
}
.container .wrap .tab{
	width:.8em;
    height:.3em;
    margin-top: 55%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); 
}
.container .wrap .tab span{
    display: block;
    width: 11px;
    height: 11px;
    margin:0 7px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}